<% heading 'Submissions' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Message</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td>
          <%= submission.author.truncate(25) unless submission.author.nil? %>
        </td>
        <td>
          <%= submission.author_email.truncate(35) %>
        </td>
        <td>
          <%= submission.content['body'].truncate(30) unless submission.content['body'].nil? %><br>
          <%= submission.content['phone'].truncate(15) unless submission.content['phone'].nil? %>
        </td>
        <td>
          <%= submission[:filter_result] %>
        </td>
        <td class="text-center">
          <%= link_to submission_path(submission), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-info-sign"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Submission', new_submission_path, class: 'btn btn-block btn-primary' %>
