<% title 'Inbox' %>
<% heading 'Inbox' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="hidden-xs"></th>
      <th colspan="2"></th>
      <th colspan="1"></th>
    </tr>
    <tr>
      <th class="hidden-xs">Sent To</th>
      <th>From</th>
      <th>Message</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <% if submission.is_unread == true %>
        <tr class="info">
      <% else %>
        <tr>
      <% end %>
        <td class="hidden-xs">
          <%= submission.content['sent_to'] %>
        </td>
        <td>
          <% if submission.name.blank? %>
            <%= submission.email.truncate(20) %>
          <% else %>
            <%= submission.name.truncate(20) %>
          <% end %>
        </td>
        <td>
          <%= submission.content['body'].truncate(25) unless submission.content['body'].nil? %><br>
          <%= submission.content['phone'].truncate(25) unless submission.content['phone'].nil? %>
        </td>
        <td class="text-muted">
          <small><%= time_ago_in_words(submission.created_at) %> ago</small>
        </td>
        <td>
          <%= link_to submission_path(submission), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-info-sign"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
