<h1>Submissions</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Email</th>
      <th class="text-center">Content</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td class="text-center"><%= submission.name %></td>
        <td class="text-center">
          <%= submission.content[:body] %><br>
          <%= submission.content[:phone] %>
        </td>
        <td class="text-center">
          <%= link_to submission_path(submission), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-info-sign"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Submission', new_submission_path, class: 'btn btn-block btn-primary' %>
