<% heading 'Submissions' %>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Message</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td>
          <%= submission.name.truncate(25) unless submission.name.nil? %>
        </td>
        <td>
          <%= submission.email.truncate(35) unless submission.email.nil? %>
        </td>
        <td>
          <%= submission.content[:body].truncate(50) unless submission.content[:body].nil? %><br>
          <%= submission.content[:phone] unless submission.content[:phone].nil? %>
        </td>
        <td class="text-center">
          <%= link_to submission_path(submission), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-info-sign"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Submission', new_submission_path, class: 'btn btn-block btn-primary' %>
