<% heading 'Inbox' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Message</th>
      <th>Filter Result</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td>
          <%= submission.name.truncate(25) unless submission.name.nil? %>
        </td>
        <td>
          <%= submission.email.truncate(35) %>
        </td>
        <td>
          <%= submission.content['body'].truncate(30) unless submission.content['body'].nil? %><br>
          <%= submission.content['phone'].truncate(15) unless submission.content['phone'].nil? %>
        </td>
        <td>
          <%= submission[:filter_result].titlecase unless submission[:filter_result].nil? %>
        </td>
        <td class="danger">
          <%= link_to submission_path(submission), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-info-sign"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
