<% heading 'Inbox' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="hidden-xs">Sent To</th>
      <th>Name</th>
      <th>Email</th>
      <th>Message</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <% if submission.is_unread == true %>
        <tr class="info">
      <% else %>
        <tr>
      <% end %>
        <td class="hidden-xs">
          <%= submission.content['sent_to'] %>
        </td>
        <td>
          <%= submission.name.truncate(10) unless submission.name.nil? %>
        </td>
        <td>
          <%= submission.email.truncate(20) %>
        </td>
        <td>
          <%= submission.content['body'].truncate(15) unless submission.content['body'].nil? %><br>
          <%= submission.content['phone'].truncate(15) unless submission.content['phone'].nil? %>
        </td>
        <td>
          <%= link_to submission_path(submission), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-info-sign"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
