<% title "#{@submission.name.truncate(25) unless @submission.name.blank?}" %>
<% heading "#{@submission.name.truncate(25) unless @submission.name.blank?}" %>
<% heading "No Name" if @submission.name.blank? %>

<dl>
  <dd class="pull-right text-muted">
    <small><%= time_ago_in_words(@submission.created_at) %> ago</small>
  </dd>
  <dt>
    <h3>Email</h3>
  </dt>
  <dd>
    <%= mail_to @submission.email %>
  </dd>

  <dt>
    <h3>Phone</h3>
  </dt>
  <dd>
    <%= @submission.content['phone'] %>
  </dd>

  <dt>
    <h3>Body</h3>
  </dt>
  <dd>
    <%= @submission.content['body'] %>
  </dd>

  <!-- <dt>
    <h3>Headers</h3>
  </dt>
  <dd class="well well-sm">
    <%= @submission.content['headers'] %>
  </dd> -->
<dl>
<br>

<%= link_to 'Back', submissions_path, class:'btn btn-block btn-default' %>

<% unless @submission.content['headers'].blank? %>
  <%= link_to edit_submission_path(@submission), class: 'btn btn-block btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
  <% end %>
<% end %>
