<% heading "#{@submission.name}" %>

<p>
  <strong>Email:</strong>
  <%= @submission.email %>
</p>

<p>
  <strong>Body:</strong>
  <%= @submission.content['body'] %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @submission.content['phone'] %>
</p>

<p>
  <strong>Filter Result:</strong>
  <%= @submission[:filter_result].titlecase unless @submission[:filter_result].nil? %>
</p>

<%= link_to 'Back', submissions_path, class:'btn btn-block btn-default' %>

<%= link_to edit_submission_path(@submission), class: 'btn btn-block btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
<% end %>
