<% heading "#{@submission.author}" %>

<p>
  <strong>Email:</strong>
  <%= @submission.author_email %>
</p>

<p>
  <strong>Body:</strong>
  <%= @submission.content[:body] %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @submission.content[:phone] %>
  <%= @submission[:filter_result] %>
</p>


<%= link_to 'Back to Submissions', submissions_path, class:'btn btn-block btn-default' %>

<%= link_to edit_submission_path(@submission), class: 'btn btn-block btn-primary' do %>
  <span class='glyphicon glyphicon-pencil'></span>
<% end %>
