<% heading "#{@submission.name.truncate(25) unless @submission.name.nil?}" %>

<dl>
  <dt>
    Email
  </dt>
  <dd>
    <%= @submission.email %>
  </dd>

  <br>
  <dt>
    Phone
  </dt>
  <dd>
    <%= @submission.content['phone'] %>
  </dd>

  <br>
  <dt>
    Body
  </dt>
  <dd>
    <%= @submission.content['body'] %>
  </dd>

  <br>
  <dt>
    Filter
  </dt>
  <dd>
    <%= @submission[:filter_result].titlecase unless @submission[:filter_result].nil? %>
  </dd>
<dl>
<br>

<%= link_to 'Back', submissions_path, class:'btn btn-block btn-default' %>

<%= link_to edit_submission_path(@submission), class: 'btn btn-block btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
<% end %>
